body {
  font-family: 'Poppins', sans-serif; /* Use Roboto font */
  font-size: 16px; /* Adjust the default font size */
}

/* Optionally, you can specify font styles for specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* Medium weight for headings */
}

/* Adjust font size for specific elements as needed */
p {
  font-size: 14px; /* Example font size for paragraphs */
}

/* Adjust font size for navigation links */
.navButtonTypography {
  font-size: 14px !important; /* Example font size for navigation buttons */
}
