.frame104 {
    background-color: rgba(244, 244, 244, 1);
    padding: 0.5px 63px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame101 {
    background-color: black;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 70px;
  }
  .browseCategories {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    flex-direction: row;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    margin-right: 16px;
  }
  .vuesaxLinearArrowDown {
    width: 24px;
    height: 24px;
  }
  .frame103 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame102 {
    margin-right: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame96 {
    margin-right: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home {
    max-width: 48px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: rgba(58, 58, 58, 1);
    margin-right: 16px;
  }
  .catalog {
    max-width: 66px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: rgba(58, 58, 58, 1);
    margin-right: 16px;
  }
  .blog {
    max-width: 36px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: rgba(58, 58, 58, 1);
    margin-right: 29px;
  }
  .pages {
    max-width: 50px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: rgba(58, 58, 58, 1);
    margin-right: 16px;
  }
  .aboutUs {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    color: rgba(58, 58, 58, 1);
  }
  .num30DaysFreeReturn {
    max-width: 163px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: rgba(80, 122, 122, 1);
  }